<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img  src="/assets/leilao.png" alt="">
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2"> Leilão SPA</h1>
                <p class="lead mb-5 text-white">Aplicação desenvolvimento para o teste Desafio Fullstack da TOTVS                </p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div *ngFor="let leilao of leiloes" class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">{{ leilao.nome }}</h4>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/leiloes/detalhes',leilao.id]" class="btn btn-primary">Mais detalhes</a>
                </div>
            </div>
        </div>

        
    </div>
</div>
<!-- Fim Content -->